// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////
.nhsuk-details__summary {
    &.fakeButton {
        padding-left: 0!important;
        &:before {
            display: none!important;
        }
        span {
            margin-top: 0!important;
            margin-bottom: 0!important;
        }
    }
}