{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  National insurance number
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "national-insurance",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="payroll" method="post" class="form">
        {% from 'input/macro.njk' import input %}
        <h2 class="nhsuk-heading--l">Employment information</h2>
        {{ input({
          "label": {
            "text": "What is the name of your employer?"
          },
          "hint": {
            "text": "This is the name of the business that employs you."
          },
          "id": "job-title",
          "name": "job-title",
          "classes": "nhsuk-input--width-20"
        }) }}


        {{ input({
          "label": {
            "text": "What is your job title?"
          },
          "id": "job-title",
          "name": "job-title",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
