{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Employment details - Employment authority or General Practice
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "receive-sd502",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="job-code" method="post" class="form">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "Employment Authority (EA) or General Practice (GP) code",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "hint": {
            "text": "This is the 4 digit unique code for the business or practice"
          },
          "id": "input-width-4",
          "name": "test-width-4",
          "classes": "nhsuk-input--width-4"
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
