{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Enrollment date
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "name",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="receive-sd502" method="post" class="form">
        {% from 'date-input/macro.njk' import dateInput %}
       

        {{ dateInput({
          "id": "enrollment-date",
          "namePrefix": "enrollment-date",
          "fieldset": {
            "legend": {
              "text": "When was the member enrolled?",
              "classes": "nhsuk-label--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "html": "We use this date to confirm the identity of the employee. <br> For example, 15 3 2021"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4"
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
