{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Employment details - Job code
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "ea-gp-code",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="pay-band" method="post" class="form">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "What is the employee's job capacity code",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "hint": {
            "text": "If you are unsure about this code you can contact NHS pensions"
          },
          "id": "job-code",
          "name": "job-code",
          "classes": "nhsuk-input--width-4"
        }) }}

        <h2 class="nhsuk-heading-m">Get help with job capacity code</h2>

        <ul class="govuk-list">
          <li>Telephone: 020 7946 0101</li>
          <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
        </ul>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Find out about call charges</a>
        </p>

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
