{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Employment details - Membership number
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "pay-band",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="work-contract" method="post" class="form">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "What is the employee's membership number?",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "hint": {
            "html": "If you do not know this, leave blank. <br>For example SD12/123456"
          },
          "id": "job-code",
          "name": "job-code",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
