{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Your name
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "reference",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="enrollment-date" method="post" class="form">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "What is your name?",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "hint": {
            "text": "We use your name to confirm your identity as the employing authority or payroll representative."
          },
          "id": "name",
          "name": "name",
          "classes": "nhsuk-input--width-20"

        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
