{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Employment details - Pay band
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "job-code",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="membership-number" method="post" class="form">

        {% from 'input/macro.njk' import input %}

        {{ input({
          "label": {
            "text": "What is the employee's NHS pay band?",
            "classes": "nhsuk-label--l",
            "isPageHeading": true
          },
          "hint": {
            "text": "Tier 1 - 7"
          },
          "id": "pay-band",
          "name": "pay-band",
          "classes": "nhsuk-input--width-2"
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
