{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Receiving SD502
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "enrollment-date",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="ea-gp-code" method="post" class="form">
        <h2 class="nhsuk-heading--l">NHS pension scheme history</h2>
        {{ radios({
          "idPrefix": "receive-sd502",
          "name": "receive-sd502",
          "classes": "nhsuk-radios--inline",
          "fieldset": {
            "legend": {
              "text": "Did you receive the SD502 form within the opt out period for a local refund to be paid?",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes",
              "hint": {
                "text": "Please refund any contributions locally for this period of membership."
              }
            },
            {
              "value": "no",
              "text": "No",
              "hint": {
                "text": "NHS Pensions will pay a refund of contribution, if eligible, on receipt of form RF12."
              }
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
