{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Employment details - Last day of scheme membership
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "work-contract",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="check-your-answers" method="post" class="form">
        {% from 'date-input/macro.njk' import dateInput %}

        {{ dateInput({
          "id": "example",
          "namePrefix": "example",
          "fieldset": {
            "legend": {
              "text": "What is the employee's last day of scheme membership?",
              "classes": "nhsuk-label--l",
              "isPageHeading": true
            }
          },
          "hint": {
            "text": "For example, 15 3 1984"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4"
            }
          ]
        }) }}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
