{% extends 'layout.html' %}

{% block pageTitle %}
  Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  href: "/",
  text: "Home"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Application to leave the NHS Pension Scheme
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>opt out of the NHS Pension Scheme</li>
        <li>stop making pension contributions</li>
        <li>complete the SD502 form</li>
      </ul>

      <p>Opting out takes about 10 minutes</p>


      <h2 class="nhsuk-heading-m">Before you start</h2>
      <p>If you are an employee, you will need a contact email for the Payroll Department at your employer.</p>
      <p>You can also <a href="#">opt out by post</a>.
      <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
        
      <h2 class="nhsuk-heading-m">Help and guidance</h2>
      <p>Your employer cannot ask or force you to opt out.</p>
      <p>Deciding to opt out of your employer’s occupational pension scheme is a major financial decision. If you are
        in any doubt about which pension arrangement will be best for you, you may wish to seek independent financial advice.</p>
      <p>The benefits payable from the NHS Pension Scheme are valuable and anyone considering opting out of the Scheme should think very carefully before making such an important decision.</p>
      <p>The pension scheme member guide, factsheets and help can be found on the <a href="https://www.nhsbsa.nhs.uk/nhs-pensions">NHS pensions website</a>.</p>
      <p>The pension scams awareness booklet for members is available on the <a href="https://www.thepensionsregulator.gov.uk/en/pension-scams">Pensions Regulator website</a>.
      <ul>
        <li>As a Scheme member you pay a contribution based on your pensionable pay. Your NHS employer also contributes 20.6% of your salary towards your pension.</li>
        <li>Contributions are deducted before tax so you receive tax relief on any amount you pay.</li>
        <li>There is a calculator on the NHS Pensions website which you can use to see some of the impacts of opting out.</li>
        <li>Unless you are absent from duty for any reason you may apply to join or rejoin the Scheme at any time
subject to Scheme rules.</li>
        <li>There is a 12 month time limit for making an application to transfer pension benefits into the Scheme that
starts from when you were first eligible to join this Scheme. Opting out now may affect your ability to
transfer in previously accrued benefits if you later re-join.</li>
        <li>If you wish to opt out from the start of your NHS employment you must complete form SD502 within the
first month.</li>
      </ul>

      <p>Benefits you will be giving up if you opt out of the NHS Pension Scheme:</p>
      <ul>
        <li>Your right to any further benefits from the Scheme in this employment.</li>
        <li>A pension payable for life fully guaranteed by the Government.</li>
        <li>If you are a member of the 1995 Section you will also get a retirement lump sum. This is usually tax free.</li>
        <li>If you opted out before 1 April 2008 and do not rejoin this Scheme you will not have the option of giving
      up some of your pension for a bigger lump sum. This option would normally allow you to receive £12 of
      lump sum for every £1 of pension you give up. Lump sums are usually tax free.</li>
        <li>Enhanced ill health retirement benefits if you become too ill to work.</li>
        <li>Life assurance cover (a lump sum payment) and family benefits if you die – pension benefits for your
      dependants, including children.</li>
      </ul>
      <h3 class="nhsuk-heading-s">Related reading</h3>
      <ul>
        <li><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2018-11/Leaving%20Early%20and%20Transferring%20Out%20Guide%20%28V16%29%20-%2011.2018.pdf">Leaving early and transferring out guide for members of the NHS Pension Scheme</a></li>
        <li><a href="https://www.nhsbsa.nhs.uk/sites/default/files/2019-03/1995-2008%20Members%20Guide%20%28V22%29%2002.2019.pdf">1995/2008 NHS Pension Scheme guide for members</a></li>
      </ul>

      <a href="/templates/question-page" class="nhsuk-button">
        Start now
      </a>

    </div>

  </div>
{% endblock %}
